@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<!-- Page-content area start  -->
<div class="Page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="ap-Left wow fadeInLeft" data-wow-duration="400ms" data-wow-delay="300ms">
                    <div class="banner-block banner-block-2">
                        <div class="sppb-addon-content">
                            <a href="about-us.html#" target="_blank"><img alt="" src="~/resimler/Pulular.jpg" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="ap-right wow fadeInRight" data-wow-duration="400ms" data-wow-delay="300ms">
                    <div class="about-us-info">
                        <h2 class="ainfo-addon-title">HAKKIMDA</h2>
                        <div class="sppb-addon-content">
                            <p>Merhaba Ben Kaan,29 Yaşında İzmir doğumlu bir .Net yazılım geliştricisiyim.Yazılım serüvenime yıllar önce başlasamda aktif olarak son  1.5 yıllık dönemde tam zamanlı olarak yazılım ile ilgileniyorum.Daha önce çeşitli alanlarda bir kaç uygulama geliştirme süreçlerinde ya bulundum yada bizzat projeyi kendim geliştirdim.</p>
                            <p>Yazılım Sektörünün her geçen gün gelişmesiyle Yeni teknolojiler konusunda bilgi sahibi olmak en sevdiğim hobilerim arasında daha önce .Net Core MVC,MSSQL,T-SQL,LinQ,Html,CSS,Bootsrap,JavaScript,EntityFramework,JQuery,Ajax,Xml,Json.. gibi bir çok teknolojiyi kullandım.RabbitMQ ve Docker konularında bilgi sahibiyim</p>
                            <p>Bu proje bir örnek teşkil etmesi adına benim tarafımdan yazılmıştır proje'de yukarıda bahsettiğim bir çok tekoloji kullanışmıştır.Projenin detayları için benimle iletişime geçebilirsiniz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page-content area End  -->
